.film-card {
  transition: 0.25s ease-in-out;
  .card-text{
    color: black;
  }
  &:hover {
    cursor: pointer;
    background-color: teal;
    color: white;
    transform: scale(1.1);
    .card-text{
      color: aliceblue;
    }
    .x-mark {
      color: antiquewhite;
    }
  }
}

.x-mark {
color: #000;
transition: 0.25s ease-in-out;

&:hover {
  cursor: pointer;
  transform: scale(2);
}
}