.film-card {
  &:hover {
    cursor: pointer;
    background-color: orange;
    color: #000;
    transform: scale(1.1);
  }
}

.x-mark {
color: #000;
transition: 0.25s ease-in-out;

&:hover {
  cursor: pointer;
  transform: scale(2);
}
}