.continents ul {
  background-color: white;
  border: none;
}

.map-selected {
  transition: 0.25s ease-in-out;
  fill: #ffdc00;
}

.map-unselected {
  transition: 0.25s ease-in-out;
  fill: #116e24f0;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
  fill: #ffdc00;
}