.continents ul {
  background-color: white;
  border: none;
}

.map-selected {
  fill: #ffdc00;
}

.map-unselected {
  fill: #39cccc;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
  fill: #ffdc00;
}
