.continents ul {
  background-color: white;
  border: none;
}

.map-selected {
  transition: 0.25s ease-in-out;
  fill: teal;
}

.map-unselected {
  transition: 0.25s ease-in-out;
  fill: rgb(247, 149, 2);
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
  fill: teal;
}

.map-img {
  width: 800px;
  height: 443px;
}
