.hamburger-react {
  position: fixed;
  background-color: teal;
}

ul.navlist {
  position: fixed;
  background-color: white;
  border: 2px solid black;
  width: auto;
  padding-left: 0;
  padding-top: 10px li {
    border: 2px lightgrey;
    list-style: none;
    margin: 10px 0;
  }
}
