@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.hamburger-react {
  position: fixed;
  background-color: rgb(51, 153, 153);
  border: 1px solid black;
}

.nav-menu-side-nav {
  position: absolute;
  background-color: white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  align-items: center;
  z-index: -100;
  padding: 0px 10px;
  width: 48px;
  line-height: 1;
  li {
    margin-right: 80px;
    background-color: white;
    padding: 6px;
    height: 3em;
    width: 40px;
    font-family: Caveat;
    color: black;
    font-weight: bold;
    font-family: Caveat;
    font-size: 20px;
  }
  a {
    color: black;
  }
}

.sidebar {
  position: fixed;
  transition: all 0.5s ease-in-out; // just makes it slide in and out slowly rather than just appearing
  left: 0;
  transform: translateX(0%);
  z-index: 75;
  width: 10%;
}
.active {
  transform: translateX(75%);
}
