body {
  background: white;
  min-height: 100vh;
}

.hamburger-react {
  position: fixed;
  background-color: teal;
}

.nav-menu-side-nav {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  // justify-content: left;
  align-items: center;
  z-index: 100;
  // transition: all 0.25s;
  padding: 10px 10px;
  width: 100%;
  li {
    margin-right: 70px;
    background-color: white;
    padding: 10px;
    height: 5em;
    width: 40px;
  }
}

.sidebar {
  position: fixed;
  transition: all 0.5s ease-in-out; // just makes it slide in and out slowly rather than just appearing
  left: 0;
  transform: translateX(0);
}
.active {
  transform: translateX(75%);
}
