body {
  background: white;
  min-height: 100vh;
}

.hamburger-react {
  position: fixed;
  background-color: teal;
}

ul.nav-menu-side-nav {
  position: fixed;
  background-color: teal;
  z-index: 100;
  transition: all 0.25s;
  padding: 24px 0px;
  width: 20%;
  li {
    border: 2px lightgrey;
    list-style: none;
    margin: 10px 0;
  }
}
